@CHARSET "UTF-8";

#adminmenu #menu-posts-archiv div.wp-menu-image {
	background: transparent url('../images/server_m.png') no-repeat scroll 4px 5px;
}
#adminmenu #menu-posts-archiv:hover div.wp-menu-image,
#adminmenu #menu-posts-archiv.wp-menu-menu div.wp-menu-image {
	background: transparent url('../images/server_h.png') no-repeat scroll 4px 5px;
}

#aid.column-aid {
	width: 10%;
}

#archive_structure.column-archive_structure {
	width: 15%;
}